<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.ts.provider.dao.ApplicantdetailDao">
    <!--  通用查询映射结果  -->
<!--    <resultMap id="BaseResultMap" type="com.breeze.ts.entity.Applicant">-->
<!--        <id column="id" property="id"></id>-->
<!--        <result column="name" property="name"></result>-->
<!--        <result column="headurl" property="headurl" />-->
<!--        <result column="position" property="position" />-->
<!--        <result column="phone" property="phone" />-->
<!--        <result column="ctime" property="ctime" />-->
<!--        <result column="address" property="address" />-->
<!--    </resultMap>-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into talentshow.t_applicantdetail(sex, workyear, birthday, selfinfo, selfpower, education, aid) VALUES
        (#{sex}, #{workyear},#{birthday},#{selfinfo},#{selfpower},#{education},#{aid})
    </insert>
</mapper>